/*!
 * Custom adjustments by Danielle Fortier
 * (c) Localedge
 */



/* Global Styles */

body {background:#fff;font-family: 'PT Sans', sans-serif;}
h1,h2,h3,h4 {font-family: 'PT Sans', sans-serif;}
a{color:#477db3;cursor:pointer;}
p{color:#cbcccb;}
.row {margin:0;}

#wrapper {width: 100%;background-color:#4C5965;}
#page-wrapper {/*padding: 0 15px;*/min-height: 900px; /* sets nav height too. */background-color: #fff;}

@media(min-width:768px) {
    #page-wrapper  {
        position: inherit;
        margin: 0 0 0 250px;
        /*padding: 0 30px;*/
        border-left: 1px solid #e7e7e7;
    }
}
.cancel {display: none;}
.left{float:left;}
.right{float:right;}

.huge {font-size: 50px;line-height: normal;}

a.see-all { float: right;margin: 213px 13px 0 0;}

/* Layers */
.topFilter .filterOption .customEntry {z-index: 500}
.datepicker {z-index:500}
.quick-stats a.box {z-index:1;}
.quick-stats h1 {z-index:2;}
.quick-stats h2 {z-index:2;}
.quick-stats .stat {z-index:2;}
.quick-stats .icon-google:before {z-index:1;}
.campaign-select .btn-upsell {z-index:400;}
.navbar-top-links .dropdown-menu > li > a.special {z-index: 1000;}


/* Tables */
td.active-status {color:green;}
td.inactive-status {color:red;}

/* Custom Icon Styles */

i.dark-gray {color:#364049;}
i.white {color:#ffffff;}
i.orange {color:#F79720}


.toggle-group {margin: 0 auto 10px;}
.pagination{float:right}

/* Top Nav Filters (Year, Month, Custom) */

.topFilter {
	width:100%;
	overflow:hidden;
	display: table;
	height: 40px;
	line-height: 40px;
}

.topFilter .filterOption {
	text-align: center;
	display:table-cell;
	color: #447DB3;
	background: #FFFFFF;
	border-left: 1px solid #E1E2E2;
	cursor: pointer;
	width: 33.3%;
	border-bottom: 1px solid #E1E2E2;
	border-top: 1px solid #E1E2E2;
}

.topFilter .filterOption:hover {
	background: #447db3;
	color: #FFFFFF;
}

.topFilter .selected {
	background-color: #447DB3;
	color: #FFFFFF;
	line-height: 0px;
}

.topFilter .filterOption .customEntry {
       position: absolute;
        float: left;
        min-width: 160px;
        padding: 17px 0 5px;
        margin: 11px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border-top:none;
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        
        color:black;
        /*background-color : #cccccc;
	border:1px solid black;
	color:black;
	position: absolute;
	overflow:hidden;
	z-index: 100;*/
}
.customEntry .buttons {margin:0 10px 0 0;}
.customEntry .btn {float:right;margin: 4px;}

/* Adding Arrow to bottom of selected date filter */
.topFilter .filterOption .selected {
	border: 0px !important;
}

.topFilter .selected .filterIcon:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 40px;
	content: "\f0de";
	color: #FFFFFF;
	position: relative;
	top: 25px;
}

.filterOption.dropdown.open {background:#ccc;padding:20px;}

/* Datepicker */

.datepicker {}
.table-condensed>tbody>tr>td.day {color:#4C5965;cursor:pointer;}
.table-condensed>tbody>tr>td.day.old,
.table-condensed>tbody>tr>td.day.new{color: #cbcccb;cursor:pointer;}
.table-condensed>tbody>tr>td.day:hover {color:#477db3;}
/*.datepicker .bootstrap-datetimepicker-widget .dropdown-menu .bottom .picker-open {min-width: 204px;padding: 10px;}*/


/***** Global Reporting Styles ***** /

/* Reporting Intro */

.reporting-title {margin:2px 0 23px;}
.reporting-title h1 {color: #477DB3;font-size: 26px;margin: 22px 0 0px;font-weight: bold;}
.reporting-title h2 {color: #909FAC;font-size: 12px;margin: 2px 0 0px;}

/* Export */

.export {margin: 0 0 14px 0;padding: 0 0 0 15px;}
.export a {color:#364149;padding:0 6px 0 0;font-size:18px}
.export a:hover {color:#477db3;}

/* Quick Stats */

.quick-stats {width: 100%;padding: 0px;margin: 53px 0 0px;padding: 0px 15px;table-layout: fixed;border-spacing: 11px;border-collapse: separate;}
.quick-stats a.box {background: #edeced;display: table-cell;padding: 9px 9px 61px 9px;position: relative;width: 19%;
margin: 0 4px;}
.quick-stats a.box:hover{background:#477DB3;color:#ffffff;text-decoration:none;}
.quick-stats a.box:hover h1,
.quick-stats a.box:hover h2,
.quick-stats a.box:hover .stat {color:#fff}
.quick-stats h1 {color:#4C5965;font-size: 15px;margin: 0;position: relative;}
.quick-stats h2 {color: #909FAC;font-size: 10px;margin: 2px 0 0;position: relative;}
.quick-stats .stat {color: #4C5965;font-size: 18px;position: absolute;bottom: 0px;font-weight: bold;}


    /* Quick Stats Icons */

    .quick-stats .icon:active,.quick-stats.icon:focus {color:#8FA9CD;}/* fix this */
    .quick-stats .icon-yahoo:before {
            content: "\e600";
            font-size:71px;
            position:absolute;
            bottom:-6px;
            right:0;
            color:#D3D1D3;
    }
    .quick-stats a.box:hover .icon-yahoo:before {color:#8FA9CD;}
    .quick-stats .icon-bing:before {
            content: "\e601";
            font-size: 60px;
            position: absolute;
            bottom: 0px;
            right: 0;
            color: #D3D1D3;
    }
    .quick-stats a.box:hover .icon-bing:before {color:#8FA9CD;}
    .quick-stats .icon-google:before {
            content: "\e602";
            font-size: 61px;
            position: absolute;
            bottom: 0;
            right:0;
            color: #D3D1D3;
            top: 31px;
    }
    .quick-stats a.box:hover .icon-google:before {color:#8FA9CD;}
 
/*.qs-box {
  //display:table;
  table-layout:fixed;
  //width:100%;
  border-spacing: 10px;    
  border-collapse: separate;
}

a.qs-box-child {
  background:#edeced;
  display:table-cell;
  padding: 5px;
  
}  */

/* Campaign Select */

.campaign-select {margin:26px 0 23px;}
.campaign-select .btn-upsell {float:right;margin-right:21px;}
    
/* Domains List */

.domains {}
.domains-list {margin:2px 0 23px;}
.domains-list a{color:#4c5965;font-size:12px;}
.domains-list a:hover{color:#477db3;text-decoration:none;}
.domains-list h1 {color:#364149;font-size:16px;font-weight:bold;margin:22px 0 0;}
.domains-list h2 {color:#4c5965;font-size:12px;margin: 1px 0 2px;font-weight: bold;}
.domains-list li {list-style: none;}
.domains-list-collapsed {background:#edeced;border-bottom:2px solid #cbcccb;/*box-shadow: 0px 4px 3px #9B9B9B;*/padding: 5px;padding:5px;position: absolute;width: 225px;z-index: 1000;}
.domains-list-collapsed a {color:#4c5965;cursor: pointer;font-size:11px;}
.domains-list-collapsed a:hover{color:#477db3;text-decoration:none;}    

/* Charts */

.chart {margin: 10px 15px;/*width:100%;*/height: 100%;padding: 0 2px;border-bottom: 2px solid #CBCCCB;}
.chart h1 {color: #477DB3;font-size: 15px;text-transform: uppercase;border-bottom: 1px solid #CFCFCF;padding: 0 9px 9px;font-weight: bold; }
.avgRank {background:#edeced;border-radius:2px;height:400px;margin:10px 0 10px;overflow: hidden;}
.pieChart {background:#edeced;border-radius:2px;height: 300px;margin:10px 0 10px;overflow: hidden;} 
.keywordsOnPg1 {background:#edeced;border-radius:2px;height: 300px;margin:10px 0 10px;overflow: hidden;}
.keywordPgRank {background:#edeced;border-radius:2px;height:400px;margin:10px 0 10px;overflow: hidden;}
h1.reportTitle {background: #EDECED;padding: 0 10px 10px;border-radius: 2px 2px 0px 0px;color: #477DB3;font-size: 16px;font-weight: bold;border-bottom: 1px solid #cfcfcf;text-transform: uppercase;}

    

/* Upsell Orange */

.alert-upsell {color: #f79720;background-color: #FFDFB8;border-color: #FFD197;}
.btn-upsell {color: #fff;background-color: #f79720;border-color: #D58016;}
.btn-upsell:hover{color: #fff;background-color: #FAC079;border-color: #EDA54C;}
p.orange,a.orange, .sidebar li ul li a.orange {color:#F79720}


/* Top Navigation */

.navbar-default {background-color: #fff;border-color: #e7e7e7;}
.navbar-top-links li {display: inline-block;}
.navbar-top-links li:last-child {margin-right: 15px;}
.navbar-top-links li a {padding-top: 15px;padding-bottom: 15px;line-height: 20px;color: #91a0ad;;}
.navbar-top-links li a:hover,
.navbar-top-links li a:focus,
.navbar-top-links>.open>a,
.navbar-top-links>.open>a:hover,
.navbar-top-links>.open>a:focus {color: #000; }
.navbar-top-links .dropdown-menu {padding:0;}
.navbar-top-links .dropdown-menu > li > a.special {color:#364049;border-bottom: 1px solid #e5e5e5;padding: 20px 10px;/*background: #477DB3;*/}
.navbar-top-links .dropdown-menu > li > a.logout {color:#fff;background: #364049;} 
.navbar-top-links .dropdown-menu > li > a.logout:hover{background:#1E1F20;}
.navbar-top-links .dropdown-menu .divider {margin:0;}
.navbar-top-links .dropdown-menu li {display: block;}
.navbar-top-links .dropdown-menu li:last-child {margin-right: 0;}
.navbar-top-links .dropdown-menu li a {color:#91a0ad;padding: 13px 10px;min-height: 0;}
.navbar-top-links .dropdown-menu li a div {white-space: normal;}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {width: 310px;min-width: 0;}
.navbar-top-links .dropdown-messages {margin-left: 5px;}
.navbar-top-links .dropdown-tasks {margin-left: -59px;}
.navbar-top-links .dropdown-alerts {margin-left: -123px;}
.navbar-top-links .dropdown-user {right: 0;left: auto;}
.navbar-brand {padding: 8px 10px;}


.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/* Side Navigation/Sidebar */

.sidebar .sidebar-nav {background: #4C5965;height:100%;}
.sidebar .sidebar-nav.navbar-collapse {padding-right: 0;padding-left: 0;}
.sidebar .sidebar-search {padding: 15px;}
.sidebar ul li {border-bottom: 2px solid #424C55;/*border-bottom: 1px solid #6E7C8A;*/}
.sidebar ul li a.focus {}
.sidebar li ul {padding:0}
.sidebar li ul li {background: #364049;}
.sidebar li ul li a {display: block;padding: 10px 15px 10px 38px;text-decoration: none;color:#AFADAD;border-bottom: 1px solid #4F5458;}
.sidebar li ul li a:hover {color:#fff;background:#5A6978}
.sidebar li a {color: #fff;padding: 15px;}
.sidebar li a:hover{color:#333;}
.sidebar .arrow {float: right;}
.sidebar .fa.arrow:before {content: "\f104";}
.sidebar .active>a>.fa.arrow:before {content: "\f107";}
.sidebar .nav-second-level li {list-style: none;}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {border-bottom: 0!important;}
.sidebar .nav-second-level li a {}
.sidebar .nav-third-level li {background:#323538;}
.sidebar .nav-third-level li a {padding-left: 58px;}
.sidebar .nav-third-level li.active {background:#ccc;color:#fff;}
/*.sidebar .nav-second-level li:hover{background:#eee;}*/

.sidebar .nav>li>a:hover, .sidebar .nav>li>a:focus {color:#fff;text-decoration: none;background-color: #477db3;}
.sidebar .nav>li>ul>li>ul>li>a:hover{color:#fff;text-decoration: none;background-color: #323538;}
.sidebar .nav>li>ul>li>a:hover {color:#fff;background:#5A6978}

.collapse.in {display: block;}

.sidebar li a.rss {color:#fff;}
.sidebar li a.rss:hover {color:#428bca;text-decoration:none;}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* tables */

h4.admin {margin-top: 0;margin-bottom: 10px;padding-top: 20px;}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #4C5965;
    }
    .side-nav>li>a {width: 225px; }
   .navbar-inverse .navbar-nav>li>a {color: #fff;
}
    .side-nav li a:hover,
    .side-nav li a:focus {outline: none;}
} /* end media query */

//.side-nav {background-color:#bbb;} //this controlls dropdown side nav when mobile

.nav .navbar-nav .side-nav>li {border-bottom: 1px solid #6E7486;}
.navbar-nav>li {border-bottom: 1px solid #6E7C8A;}
.navbar-nav>li>a {color: #fff;}
//.side-nav>li:hover{color:#91A0AD;}
.navbar-nav>li>ul>li{background:#364049}
.side-nav>li>ul {padding: 0;}
.side-nav>li>ul>li>a {display: block;padding: 10px 15px 10px 38px;text-decoration: none;color: #999;border-bottom: 1px solid #4F5458;}
//.side-nav>li>ul>li>a:hover {color: #fff;}


/* Header double logo: This is just for the prototype that exemplifies the dual logo situation */

#header-dbl-logo {width: 100%;float:right;margin-bottom:40px;}
#header-dbl-logo .navbar-inverse {background-color: #fff;border-color: #E2E2E2;background-image:none;height: 51px;}
#header-dbl-logo .navbar-brand {padding: 9px 15px;}

#header-dbl-logo .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{text-shadow: none;}
#header-dbl-logo ul .nav .navbar-nav .nav-bar-right {height:70px;}
#header-dbl-logo .navbar-inverse .navbar-nav > li > a {color: #91A0AD;}
#header-dbl-logo .dropdown-menu > li > a.special {padding: 20px 10px;background: #477DB3;color:#fff;}
#header-dbl-logo .dropdown-menu {padding:0;  }
#header-dbl-logo .dropdown-menu .divider {margin:0;}
#header-dbl-logo .dropdown-menu > li > a {padding: 13px 10px;}
#header-dbl-logo i.dark-gray {padding-right:5px;}
#header-dbl-logo .navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {background: none;}

.top-nav>.open>.dropdown-menu>li>a {white-space: normal;}

ul.message-dropdown {padding: 0;max-height: 250px;overflow-x: hidden;overflow-y: auto;}
li.message-preview {width: 275px;border-bottom: 1px solid rgba(0,0,0,.15);}
li.message-preview>a {padding-top: 15px;padding-bottom: 15px;}
li.message-footer {margin: 5px 0;}
ul.alert-dropdown {width: 200px;}


.quick-post{padding:5%;}

.social-media {color:#fff;}

.form-group textarea {resize:none;}

.navbar-nav .side-nav .fa {font-size:18px;color:#fff;}

/* Modals */
#modal-accounts{}
#modal-accounts .modal-content {border-radius: 2px;}
.btn-modal-submit {color: #fff;background-color: #477DB3;border-color: #477DB3;border-radius:2px;}
.btn-modal-close,
.btn-modal-close {color: #fff;background-color: #364049;border-color: #364049;border-radius:2px;}
.btn-modal-close:hover,
.btn-modal-close:hover,
.btn-modal-submit:hover {color:#ccc;}
.panel {border-radius:0;}
.table > thead > tr.no-border,
.table > thead.no-border {border:none;}
#modal-accounts tr.select:hover {background:#f5f5f5;}




